:root {
  --mainFont: 'Work Sans', sans-serif;
  --mainColor: #523B35;
}

#topImage {
  background-image: url(../images/topImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
}

body {
  margin: 0;
  color: var(--mainColor);
}

section {
  max-width: 1440px;
}

/* My name and avatar / nav */
.nav {
  display: flex;
  border-bottom: 1px solid var(--mainColor);
  padding: 10px;
  display: flex;
  align-items: center;
}

.myName,
.navs {
  height: 25px;
  display: flex;
  align-items: center;
}

.navs {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.navs a {
  font-size: 100%;
  padding: 10px;
  text-decoration: none;
  font-family: var(--mainFont);
  margin-left: 30px;
}

a:link {
  color: var(--mainColor);
  text-decoration: none;
}

a:visited {
  color: var(--mainColor);
  text-decoration: none;
}

a:hover {
  color: rgb(164, 127, 76);
  text-decoration: none;
}

a:active {
  color: rgb(164, 127, 76);
  text-decoration: none;
}

.myName {
  width: 25%;
  font-size: 100%;
  font-family: var(--mainFont);
  padding: 5px;
}

.heading {
  font-family: var(--mainFont);
  font-weight: 100;
  font-size: 110%;
  letter-spacing: 1px;
  text-align: center;
  margin: 30px;

}

/* Work content grid*/
.workContentGrid {
  margin: 0 auto;
  display: grid;
  gap: 72px 24px;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  grid-template-areas:
    "firstApp firstApp"
    "secondApp thirdtApp"
    "fourthApp fifthApp";
}

.gridImages img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subHeading {
  display: grid;
  align-content: end;
  cursor: pointer;
  position: relative;
  top: 3%;
  font-family: var(--mainFont);
  font-size: 120%;
  font-weight: 600;
}

#firstApp {
  grid-area: firstApp;
}

#secondApp {
  grid-area: secondApp;
}

#thirdtApp {
  grid-area: thirdtApp;
}

#fourthApp {
  grid-area: fourthApp;
}

#fifthApp {
  grid-area: fifthApp;
}

/* About me content */
#aboutContentFlex {
  display: flex;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
  gap: 72px 24px;
  align-items: center;
}

#flexPhoto {
  width: 50%;
  height: 100%;
}

#flexPhoto img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#flexText {
  width: 50%;
}

#flexText article {
  font-family: var(--mainFont);
  font-size: 100%;
  font-weight: 300;
}

/* Contact me content */
#contactContentFlex {
  display: flex;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
  gap: 72px 24px;
  align-items: center;
}

#flexResume {
  width: 50%;
  height: 100%;
}

#flexResume img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#flexContactMe {
  width: 50%;
}

/* Form styling */
#flexContactMe form {
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input[type=text],
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: var(--mainColor);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(164, 127, 76);
}

@media only screen and (max-width: 768px) {
  section {
    max-width: 628px;
  }
}

@media only screen and (max-width: 660px) {
  section {
    max-width: 520px;
  }

  .navs {
    display: none;
  }

  .myName {
    width: initial;
    margin: auto;
  }

  #aboutContentFlex {
    display: block;
    height: initial;
    margin: auto;
    margin-bottom: 80px;
  }

  #flexPhoto {
    width: inherit;
  }

  #flexText {
    width: inherit;
  }

  .workContentGrid {
    margin: 0 auto;
    display: grid;
    margin-bottom: 80px;
    gap: 72px;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "firstApp"
      "secondApp"
      "thirdtApp"
      "fourthApp"
      "fifthApp";
  }

  #contactContentFlex {
    display: block;
    height: initial;
    margin: auto;
    margin-bottom: 80px;
  }

  #flexResume {
    width: inherit;
    margin-bottom: 16px;
  }

  #flexContactMe {
    width: inherit;
  }
}